window {
margin: 0px;
background-color: #16161e;
border: 1px solid #3b4261;
}

#input {
margin: 5px;
border: none;
color: #c0caf5;
background-color: #11111a;
}

#inner-box {
margin: 5px;
border: none;
background-color: #16161e;
}

#outer-box {
margin: 5px;
border: none;
background-color: #16161e;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #c0caf5;
}

#entry:selected {
background-color: #24283b;
}
