window {
margin: 0px;
background-color: --wofi-color0;
border: 1px solid --wofi-color1;
}

#input {
margin: 5px;
border: 1px solid --wofi-color1;
border-radius: 4px;
box-shadow: none;
padding: 6px;
color: --wofi-color2;
background-color: --wofi-color3;
caret-color: --wofi-color2;
outline: none;
}

#input:focus {
border: 1px solid --wofi-color1;
box-shadow: none;
outline: none;
}

#input selection {
color: --wofi-color2;
background-color: --wofi-color4;
}

#input placeholder {
color: --wofi-color1;
}

#inner-box {
margin: 5px;
border: none;
background-color: --wofi-color0;
}

#outer-box {
margin: 5px;
border: none;
background-color: --wofi-color0;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: --wofi-color2;
}

#entry:selected {
background-color: --wofi-color4;
}
